<div class="container-fluid">
    <div class="col-md-8 col-sm-12">
        <div class="card text-center">
            <div class="card-header">
                Live Feed <small>&#x1f534;</small>
            </div>
            <div class="card-body">
                
                <video class="w-100 h-100" src="/assets/video" id="main_video" autoplay controls>
                    
                </video>
            </div>
            
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        
    </div>
</div>
<script src="/js/home.js"></script>
