<div class="container">
    <div class="col-md-6 col-sm-12">
        <div class="card text-center">
            <div class="card-header">
                Live Feed <small>&#x1f534;</small>
            </div>
            <div class="card-body">
                <video class="cam_video" autoplay>
                    <source src="/assets/video" type="video/mkv">
                </video>
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        
    </div>
</div>
